<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright © 2019 ScientiaMobile. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ScientiaMobile_IO::admin" title="ScientiaMobile_IO">
                </resource>
            </resource>
        </resources>
    </acl>
</config>
