<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright © 2019 ScientiaMobile. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <tab id="scientiamobile" translate="label" sortOrder="1000000">
        <label>ImageEngine</label>
    </tab>
    <section id="smimageoptimization" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>Optimize Images with ImageEngine</label>
        <tab>scientiamobile</tab>
        <resource>ScientiaMobile_IO::config</resource>
        <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>General Configuration</label>
            <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Module Enable</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="image_engine_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>ImageEngine Delivery Address</label>
                <comment>Enter the complete delivery address including `https://`.</comment>
                <validate>required-entry validate-url</validate>
            </field>
            <field id="media_path" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Media Path</label>
                <comment><![CDATA[The path, or folder, where media is stored in Magento.<br/>Make sure you have add Media folder name and it start & end with '/' (slash) e.g. '/media/.']]></comment>
                <validate>required-entry</validate>
            </field>
        </group>
    </section>
</system>
</config>

