<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin disabled="false" name="Scientiamobile_Imageengine_Plugin_Magento_Catalog_Block_Product_View_Gallery" sortOrder="10" type="Scientiamobile\Imageengine\Plugin\Magento\Catalog\Block\Product\View\Gallery"/>
    </type>

    <preference for="Magento\Catalog\Block\Product\ImageBuilder" type="Scientiamobile\Imageengine\Block\Rewrite\Product\ImageBuilder" />

</config>


<!-- <?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Catalog\Block\Product\View\Gallery" type="Scientiamobile\Imageengine\Block\ExtendGallery" />
</config> -->
